<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <yotpo>
            <label>Yotpo</label>
            <sort_order>400</sort_order>
        </yotpo>
    </tabs>
    
    <sections>
        <yotpo module="yotpo">
            <label>Yotpo Product Reviews Software</label>
            <tab>yotpo</tab>
            <frontend_type>text</frontend_type>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>

              <default_config_group translate="label">
              <label>Yotpo Settings</label>
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <comment>
                <![CDATA[
                  <p>Yotpo is a popular product reviews solution among Magento store owners.</p>
                  <p>To edit your Yotpo settings, select the relevant store view from the "Current Configuration Scope" dropdown on the left. <br/>Once selected, click on the "Yotpo Product Reviews Software" link in the menu on the left-hand side.
                  </p>
                  <br/>
                ]]>
              </comment>
            </default_config_group>

              
                <yotpo_general_group translate="label">
                    <label>Yotpo Widget Configurations</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>
                        <![CDATA[
                        <p>Please enter in your <font color="red">Api App Key</font>  and <font color="red">Secret</font> in the fields below to finish the installation.</p>
                        <p>If you need help the Yotpo support team is here 24/7, don't hesitate to 
                            <a href="https://yotposupport.zendesk.com/account/dropboxes/20158038#/dropbox/suggestions/ask" target="_blank" title="yotpo-support">contact us.</a>
                              </p>

                    <p>Click <a href="http://support.yotpo.com/entries/22635391-advanced-magento-features" target="_blank" 
                      title="yotpo">here</a> for the advanced customization guide. 
                    </p><br/>
                        ]]>
                    </comment>

                    
                    <fields>
                        <yotpo_appkey>
                            <label>Api App key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <comment><![CDATA[Get your appkey at your yotpo account setting page. Click
                                <a href="https://my.yotpo.com/register?utm_source=customers_magento_admin&utm_medium=link&utm_campaign=magento_admin_signin_link" target="_blank" title="yotpo-sign-up">here</a>
                                to sign in to yotpo]]>
                            </comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </yotpo_appkey>  
                        <yotpo_secret>
                            <label>Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <comment><![CDATA[Get your secret at your yotpo account setting page. Click
                                <a href="http://support.yotpo.com/entries/22635391-advanced-magento-features?utm_source=customers_magento_admin&utm_medium=link&utm_campaign=magento_admin_advanced_magento_features" target="_blank" title="yotpo-sign-up">here</a>
                                to sign in to yotpo]]>
                            </comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </yotpo_secret>
                        <disable_default_widget_position>
                            <label>Disable Default Widget Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <enabled>1</enabled>
                            <sort_order>4</sort_order>
                            <comment>
                              <![CDATA[
                              By choosing not to use the deafult position, you'll need to follow the instructions in the 
                              <br/><a href="http://support.yotpo.com/entries/22635391-advanced-magento-features?utm_source=customers_magento_admin&utm_medium=link&utm_campaign=magento_admin_advanced_magento_features" target="_blank" title="advanced-cusomization-guide">advanced customizations guide</a>]]>
                            </comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </disable_default_widget_position>
                        <orders_export translate="label">
                            <label>Send Mail After Purchase emails for orders created in the last 90 days</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>
                              yotpo/adminhtml_system_config_form_button
                            </frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                              <![CDATA[
                              By pressing this button, we'll send Mail After Purchase emails for your past purchases. This may take a few minutes. <a href="http://support.yotpo.com/entries/21684298-Mail-After-Purchase-Magento-Installation-Guide?utm_source=customers_magento_admin&utm_medium=link&utm_campaign=magento_admin_MAP_installation" target="_blank" title="map-guide">Click here</a>
                              for an explanation of the Mail After Purchase feature.
                              ]]>
                            </comment>
                        </orders_export>
                        <custom_order_status translate="label">
                            <label>Custom Mail After Purchase Order Status</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <comment>
                              <![CDATA[
                              Customize the order status that will trigger the Mail After Purchase e-mail. By default, the MAP is sent when the order is marked "Complete". Other common statuses are "Shipped," "Pending," or "Received." You can input multiple customer statuses separated by spaces.
                              ]]>
                            </comment>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </custom_order_status>
                      </fields>
                </yotpo_general_group>
            <yotpo_rich_snippets_group translate="label">
              <label>Google Rich Snippets</label>
              <frontend_type>text</frontend_type>
              <sort_order>3</sort_order>
              <show_in_default>0</show_in_default>
              <show_in_website>0</show_in_website>
              <show_in_store>1</show_in_store>
              <comment>
                        <![CDATA[
                        Show off your star ratings in Google search results with Rich Snippets. Adding Rich Snippets is proven to increase CTR on your organic search results by 17%!
                        Click <a href="https://my.yotpo.com/features/rich-snippets" target="_blank">here</a> to find out how to install.<br/>]]>
              </comment>

              </yotpo_rich_snippets_group>
              <yotpo_export_reviews_group translate="label">
                <label>Export Magento Built-In Reviews</label>
                <frontend_type>text</frontend_type>
                <sort_order>4</sort_order>
                <show_in_default>0</show_in_default>
                <show_in_website>0</show_in_website>
                <show_in_store>1</show_in_store>
                <comment>
                  <![CDATA[
                    <p>Export Magento Built-In Reviews</p>
                    <p>This feature allows you to export reviews from Magento to Yotpo.</p>
                    <p>For instructions on how to use this feature, click 
                            <a href="http://support.yotpo.com/entries/22827652-exporting-reviews-for-magento?utm_source=customers_magento_admin&utm_medium=link&utm_campaign=magento_admin_exporting_reviews" target="_blank" title="yotpo">here</a>
                    </p><br/>
                  ]]>
                </comment>
              </yotpo_export_reviews_group>

            </groups>
        </yotpo>
    </sections>
</config>